#loading {
  width: 100%;
  height: 100vh;
  background: #fff;
  position: fixed;
  z-index: 2200;
}

#loading img {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
  max-width: 100px;
}
