
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.redirectSpan:hover{
	text-decoration: underline;
	cursor: pointer;
}

.documents{
    text-decoration: underline;
    color: black;
}